.navb{
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navb ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
.navb ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.conaner{
    margin: 0;
    padding: 0;
}

